img {
	border: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


$o-ads-is-silent: false;
@import 'o-ads/main';

$o-fonts-is-silent: false;
@import 'o-fonts/main';

@import 'o-typography/main';

$o-grid-mode: snappy;
@import 'o-grid/main';

@import 'o-buttons/main';

@import 'o-header/main';

@import 'o-footer/main';

$o-icons-is-silent: false;
@import 'o-icons/main';

@import 'o-overlay/main';

@import 'o-forms/main';

@import 'o-teaser/main';

@import 'o-colors/main';

@import "o-share/main";

@import './generic/main';

@import './content-box/main';

@import './overlays/main';
@import './ads/main';
@import './barrier/main';
@import './marketslive-session-notification/main';
@import './header/main';
@import './spinner/main';
@import './infinite-scroll/main';
@import './footer/main';
@import './twitter-widget/main';
@import './pagination/main';
@import './share/main';
@import './card/main';
@import './article-list/main';
@import './cookie-banner/main';

@include oButtons($opts: (
	'types': ('primary'),
	'themes': ('standard')
));

@include oFooter($opts: (
	'themes': ('dark'),
	'matrix': true,
));

@include oForms($opts: (
	'elements': (
		'text',
		'checkbox'
	),
	'features': (
		'small'
	)
));

@include oGrid($opts: (
	'bleed': true,
	'shuffle-selectors': true,
	'friendly-selectors': true,
	'surface': ('current-layout', 'layout-sizes'),
	'rows': ('compact')
));

@include oHeader($opts: ('drawer', 'sticky'));

@include oOverlay();

@include oTeaser($opts:(
	'elements': ('default', 'images'),
	'themes': ('small', 'large', 'video')
));
