img {
	border: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


$o-ads-is-silent: false;
@import 'o-ads/main';

$o-fonts-is-silent: false;
@import 'o-fonts/main';

$o-typography-is-silent: false;
@import 'o-typography/main';

$o-grid-mode: snappy;
$o-grid-is-silent: false;
@import 'o-grid/main';

$o-buttons-is-silent: false;
@import 'o-buttons/main';

$o-header-is-silent: false;
@import 'o-header/main';

$o-footer-is-silent: false;
@import 'o-footer/main';

$o-icons-is-silent: false;
@import 'o-icons/main';

$o-overlay-is-silent: false;
@import 'o-overlay/main';

$o-forms-is-silent: false;
@import 'o-forms/main';

$o-teaser-is-silent: false;
@import 'o-teaser/main';

@import 'o-colors/main';

@import "o-share/main";

@import './generic/main';

@import './content-box/main';

@import './overlays/main';
@import './ads/main';
@import './barrier/main';
@import './marketslive-session-notification/main';
@import './header/main';
@import './spinner/main';
@import './infinite-scroll/main';
@import './footer/main';
@import './twitter-widget/main';
@import './pagination/main';
@import './share/main';
@import './card/main';
@import './article-list/main';
