<footer class="o-footer o-footer--theme-light alphaville-footer" data-o-component="o-footer">
	<div class="o-footer__container">
		<div class="o-footer__row o-footer__copyright">
			<div class="o-footer__col o-footer__col--full-width">
				<span>&#xA9; THE FINANCIAL TIMES LTD .</span>
				<span><abbr title="Financial Times">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.</span>
			</div>
			<div class="o-footer__col o-footer__col--full-width">
				The Financial Times and its journalism are subject to a self-regulation regime under the <a href="http://www.ft.com/editorialcode" aria-label="F T Editorial Code of Practice">FT Editorial Code of Practice</a>.
			</div>
		</div>
	</div>

	<div class="o-footer__brand">
		<div class="o-footer__container">
			<div class="o-footer__row">
				<div class="o-footer__col o-footer__col--full-width">
					<div class="o-footer__brand-logo" aria-label="A Nikkei Company"></div>
				</div>
			</div>
		</div>
	</div>
</footer>
