$timestamp-color: oColorsGetPaletteColor('warm-6');
$font-color: oColorsGetPaletteColor('cold-2');

.alphaville-most-recent-post__link {
	@include oTypographySerifDisplay(l);

	text-decoration: none;
	border: 0;
	color: $font-color;
}

.alphaville-most-recent-post__timestamp {
	display: block;
	text-transform: uppercase;
	color: $timestamp-color;
}
