<div
	class="o-ads o-ads-center alphaville-ad-dmpu-desktop"
	data-o-ads-targeting="pos=mid;"
	data-o-ads-name="dmpu_desktop"
	data-o-ads-center="true"
	data-o-ads-formats-default="false"
	data-o-ads-formats-smallscroll="false"
	data-o-ads-formats-small="false"
	data-o-ads-formats-mediumscroll="false"
	data-o-ads-formats-medium="false"
	data-o-ads-formats-largescroll="HalfPage,MediumRectangle,Responsive"
	data-o-ads-formats-large="HalfPage,MediumRectangle,Responsive"
	data-o-ads-formats-extrascroll="HalfPage,MediumRectangle,Responsive"
	data-o-ads-formats-extra="HalfPage,MediumRectangle,Responsive"
	data-o-ads-lazy-load="true"
	aria-hidden="true">
</div>
