<div
	class="o-ads o-ads-center alphaville-ad-grid"
	data-o-ads-targeting="pos=mid;"
	data-o-ads-name="grid"
	data-o-ads-center="true"
	data-o-ads-formats-default="MediumRectangle,Responsive"
	data-o-ads-formats-smallscroll="MediumRectangle,Responsive"
	data-o-ads-formats-small="MediumRectangle,Responsive"
	data-o-ads-formats-mediumscroll="Leaderboard,Responsive"
	data-o-ads-formats-medium="Leaderboard,Responsive"
	data-o-ads-formats-largescroll="SuperLeaderboard,Leaderboard,Responsive"
	data-o-ads-formats-large="SuperLeaderboard,Leaderboard,Responsive"
	data-o-ads-formats-extrascroll="SuperLeaderboard,Leaderboard,Responsive"
	data-o-ads-formats-extra="SuperLeaderboard,Leaderboard,Responsive"
	data-o-ads-lazy-load="true"
	aria-hidden="true">
</div>
