<div
	class="o-ads o-ads-center alphaville-ad-homepage"
	data-o-ads-targeting="pos=mid;"
	data-o-ads-name="homepage"
	data-o-ads-center="true"
	data-o-ads-formats-default="Responsive"
	data-o-ads-formats-smallscroll="Responsive"
	data-o-ads-formats-small="Responsive"
	data-o-ads-formats-mediumscroll="Responsive"
	data-o-ads-formats-medium="Responsive"
	data-o-ads-formats-largescroll="Responsive"
	data-o-ads-formats-large="Responsive"
	data-o-ads-formats-extrascroll="Responsive"
	data-o-ads-formats-extra="Responsive"
	data-o-ads-lazy-load="true"
	aria-hidden="true">
</div>
