<div
	class="o-ads o-ads-center alphaville-ad-longroom-tablet-leaderboard"
	data-o-ads-targeting="pos=mid;"
	data-o-ads-name="longroom_tablet_leaderboard{{longroom_tablet_leaderboard_index}}"
	data-o-ads-center="true"
	data-o-ads-formats-default="false"
	data-o-ads-formats-smallscroll="false"
	data-o-ads-formats-small="false"
	data-o-ads-formats-mediumscroll="Leaderboard,Responsive"
	data-o-ads-formats-medium="Leaderboard,Responsive"
	data-o-ads-formats-largescroll="Leaderboard,Responsive"
	data-o-ads-formats-large="false"
	data-o-ads-formats-extrascroll="false"
	data-o-ads-formats-extra="false"
	data-o-ads-lazy-load="true"
	aria-hidden="true">
</div>
