<div
	class="o-ads o-ads-center alphaville-ad-stream"
	data-o-ads-targeting="pos=mid;"
	data-o-ads-name="stream{{index}}"
	data-o-ads-center="true"
	data-o-ads-formats-default="MediumRectangle,Responsive"
	data-o-ads-formats-smallscroll="MediumRectangle,Responsive"
	data-o-ads-formats-small="MediumRectangle,Responsive"
	data-o-ads-formats-mediumscroll="MediumRectangle,Responsive"
	data-o-ads-formats-medium="MediumRectangle,Responsive"
	data-o-ads-formats-largescroll="false"
	data-o-ads-formats-large="false"
	data-o-ads-formats-extrascroll="false"
	data-o-ads-formats-extra="false"
	data-o-ads-lazy-load="true"
	aria-hidden="true">
</div>
