.alphaville-overlay-text {
	min-width: 150px;
	max-width: 250px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
}

.alphaville-overlay-form-content {
	min-width: 300px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
}

.alphaville-overlay-buttons {
	text-align: center;

	.alphaville-overlay-ok,
	.alphaville-overlay-cancel,
	.alphaville-overlay-submit {
		min-width: 70px;
	}
}
