.barrier {
	font-size: 14px;
	border: 1px solid black;
	padding: 10px;
	text-align: center;

	h2 {
		margin-bottom: 5px;
	}

	.o-buttons {
		display: block;
		max-width: 180px;
		margin: 6px auto;
		padding-left: 4px;
		padding-right: 4px;

		&:hover {
			text-decoration: none;
		}
	}
}

.barrier-subtitle {
	margin-top: 0;
}

.barrier-img {
	margin: 10px auto;

	img {
		width: 100%;
		max-width: 455px;
	}
}
