<div class="barrier" data-trackable="barrier">
	<h2>Alphaville is completely free.</h2>
	<p class="barrier-subtitle">All you have to do is register.</p>
	<a class="o-buttons o-buttons--big o-buttons--standout" role="button" href="{{register}}" data-trackable="register">Register</a>
	<a class="o-buttons o-buttons--big" role="button" href="{{login}}" data-trackable="sign-in">or sign in</a>
	<p>
		Ready to subscribe, <a class="barrier-link" href="{{subscriptions}}" data-trackable="subscription">View our subscription options</a>
	</p>
	<div class="barrier-img">
		<img src="{{@root/assetsBowerBasePath}}/alphaville-ui/barrier/img/alphaville-barrier.jpg" />
	</div>
</div>
