.alphaville-ad-top {
	display: none;

	@include oGridRespondTo(M) {
		display: block;
		padding: 10px 0;
		line-height: 0;
		background-color: oColorsByName('black-20');
	}
}

.alphaville-ad-stream {
	display: block;

	@include oGridRespondTo(L) {
		display: none;
	}
}

.alphaville-ad-mpu-mobile {
	display: block;

	@include oGridRespondTo(L) {
		display: none;
	}
}

.alphaville-ad-dmpu-desktop {
	display: none;
	margin-bottom: 15px;

	@include oGridRespondTo(L) {
		display: block;
	}
}

.alphaville-ad-grid-small {
	@include oGridColspan(
		(default: 12, M: hide)
	);

	display: block;
}
.alphaville-ad-grid-large {
	@include oGridColspan(
		(default: hide, M: 12)
	);

	display: none;
}

.alphaville-ad-grid {
	@include oGridColspan(
		(default: 12)
	);
}


.alphaville-ad-longroom-mobile-mpu {
	display: block;

	@include oGridRespondTo(M) {
		display: none;
	}
}

.alphaville-ad-longroom-tablet-leaderboard,
.alphaville-ad-longroom-tablet-mpu {
	display: none;

	@include oGridRespondTo(M) {
		display: block;
	}

	@include oGridRespondTo(L) {
		display: none;
	}
}



.o-ads--empty,
.o-ads[data-o-ads-loaded=false] {
	height: 0;
	min-height: 0;
	padding: 0;
	overflow: hidden;
}
