$ml-notification-default-color: #cf191d;
$ml-notification-background-color: transparent;

@mixin marketslive-lozenge-icon ($size: 16, $color: $ml-notification-default-color, $bgColor: $ml-notification-background-color) {
	$borderWidth: round($size / 8);

	display: inline-block;
	padding: #{round($size / 2 - $borderWidth)}px;
	color: oColorsByName("white");
	background-color: $bgColor;
	border-radius: #{(2 * $size)}px;
	margin-left: 5px;
	position: relative;
	border: #{$borderWidth}px solid $color;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		padding: #{round($size / 2 - 2 * $borderWidth)}px;
		background-color: $color;
		border-radius: #{($size + 10)}px;
		margin-top: #{$borderWidth}px;
		margin-right: #{$borderWidth}px;
	}
}

@mixin marketslive-live-title ($color: $ml-notification-default-color) {
	color: $color !important;
}

.marketslive-live-lozenge-icon {
	@include marketslive-lozenge-icon(17);
}

.marketslive-live-title {
	@include marketslive-live-title();
}

.marketslive-live-color {
	@include marketslive-live-title();
}

.marketslive-notification {
	position: fixed;
	bottom: 0;
	left: 0px;
	width: 100%;
	background: oColorsByName("white");
	padding: 6px 0;
	box-shadow: 0px -2px 4px -2px rgba(0, 0, 0, 0.3);
	z-index: 5;

	@include oGridRespondTo(M) {
		left: 15px;
		width: auto;
		min-width: 300px;
		padding: 20px 10px;
		font-size: 14px;
		text-align: center;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
	}

	.marketslive-notification-close {
		@include oIconsContent(
			$icon-name: cross,
			$color: oColorsByName("teal-80"),
			$size: 15
		);
		float: right;
		margin-right: 10px;
		cursor: pointer;
		margin-top: 4px;

		@include oGridRespondTo(M) {
			position: absolute;
			top: 5px;
			right: 8px;
			margin-right: 0;
			margin-top: 0;
		}
	}

	.marketslive-notification-title {
		display: inline-block;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 18px;
		color: $ml-notification-default-color;
		margin-left: 10px;

		@include oGridRespondTo(M) {
			display: block;
			margin-left: 0;
			margin-bottom: 5px;
		}
	}

	.marketslive-notification-icon {
		@include marketslive-lozenge-icon(13);
	}

	.marketslive-notification-desc {
		display: none;

		@include oGridRespondTo(M) {
			display: block;
			margin-bottom: 10px;
			color: $ml-notification-default-color;
			font-size: 13px;
		}
	}

	.marketslive-notification-cta {
		display: inline-block;
		margin-left: 10px;

		@include oGridRespondTo(M) {
			margin-left: 0;
			display: block;
		}

		a {
			display: inline-block;
			padding: 3px 7px;
			border: 1px solid oColorsByName("teal-80");
			color: oColorsByName("teal-80");
			font-size: 13px;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
