{{#> alphaville-ui/content-box/main title='FT Alpha Tweets'}}
	<div class="twitterTimeline">
		<div class="twitterTimelineContent">
			<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/FTAlphaville/lists/ft-alphatweets" data-widget-id="335082383692943361" data-chrome="transparent noborders">Tweets from https://twitter.com/FTAlphaville/lists/ft-alphatweets</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
{{/ alphaville-ui/content-box/main}}
